/* ---------------------------------------------------
    LOGIN PAGE
----------------------------------------------------- */
  
body {
    position: relative;
    overflow: auto;
}

.container {
    height: 100vh;
    flex-direction: column;
    background-color: rgba(0,0,0,.5);
}

.card {
    min-width: 35%;
    min-height: 50%;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

#copyright {
    text-align: center;
    padding-top: 10px;
    color: white;
}